<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="v-box" [formGroup]="formGroup">
      <mat-form-field>
        <input matInput formControlName="email" type="email" placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="password" type="password" placeholder="Password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" [disabled]="!formGroup.valid" (click)="onLoginButtonClick()">Login</button>
  </mat-card-actions>
</mat-card>
