<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Blackout <small>v{{ version }}</small></span>
    <ng-template [ngIf]="angularFireAut.authState | async">
      <button *ngFor="let route of configService.routes" mat-button [routerLink]="['/collection/' + route.path ]"
        [routerLinkActive]="['active']" class="route">
        {{ route.title }}
      </button>
    </ng-template>
    <span class="fill-space"></span>
    <button *ngIf="angularFireAut.authState | async" mat-button [matMenuTriggerFor]="menu">
      {{ (angularFireAut.authState | async)?.email }} <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onLogoutButtonClick()">Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<ngx-spinner></ngx-spinner>