<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
    <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let group of data.groups">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h5>{{ group.title }}</h5>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table mat-table [dataSource]="group.items">
                <ng-container matColumnDef="display">
                    <td mat-cell *matCellDef="let item">{{ item.display }}</td>
                </ng-container>
                <tr mat-row *matRowDef="let item; columns: displayedColumns;" (tap)="onRowTap(item)"></tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
</div>