<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
    <form class="v-box" [formGroup]="formGroup">
        <div *ngFor="let field of data.collection.fields" class="v-box">
            <div class="h-box" *ngIf="field.type">
                <mat-checkbox *ngIf="dataLength > 1" (change)="onCheckBoxHandler($event, field)"></mat-checkbox>
                <mat-form-field *ngIf="field.type === 'string'">
                    <input *ngIf="!field.options || options[field.id][0].items" matInput [formControlName]="field.id"
                        [placeholder]="field.name" [readonly]="field.options" (click)="onInputClick(field)">
                    <mat-select *ngIf="field.options && !options[field.id][0].items" [formControlName]="field.id"
                        [placeholder]="field.name">
                        <mat-option *ngFor="let option of options[field.id]" [value]="option.value">
                            {{ option.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="field.type === 'number'">
                    <input *ngIf="!field.options || options[field.id][0].items" matInput [formControlName]="field.id"
                        [placeholder]="field.name" type="number" (input)="onNumberInput(field)" [readonly]="field.options"
                        (click)="onInputClick(field)">
                    <mat-select *ngIf="field.options && !options[field.id][0].items" [formControlName]="field.id"
                        [placeholder]="field.name">
                        <mat-option *ngFor="let option of options[field.id]" [value]="option.value">
                            {{ option.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="field.type === 'timestamp'">
                    <input matInput [formControlName]="field.id" [placeholder]="field.name" [owlDateTime]="dt"
                        [owlDateTimeTrigger]="dt">
                </mat-form-field>
                <mat-form-field *ngIf="field.type === 'reference'">
                    <mat-select [formControlName]="field.id" [placeholder]="field.name">
                        <mat-option *ngIf="!field.required">None</mat-option>
                        <mat-option *ngFor="let option of (options[field.id] || [])" [value]="option.value">
                            {{ option.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-slide-toggle *ngIf="field.type === 'boolean'" matInput [formControlName]="field.id"
                    labelPosition="before">
                    {{ field.name }}
                </mat-slide-toggle>
            </div>
            <mat-error *ngIf="formGroup.controls[field.id].errors">
                {{ formGroup.controls[field.id].errors['required'] ? field.name + ' is required' :
                (formGroup.controls[field.id].errors['pattern'] ? field.name + ' has invalid value' :
                (formGroup.controls[field.id].errors['min'] ? field.name + ' must be greater than or equal to ' + field.min  :
                (formGroup.controls[field.id].errors['max'] ? field.name + ' must be less than or equal to ' + field.max :
                'Unknown error'))) }}
            </mat-error>
        </div>
        <owl-date-time #dt pickerMode="dialog" hour12Timer="true"></owl-date-time>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="submitText === 'Update' ? onUpdateButtonClick() : onSaveButtonClick()">
        {{ submitText }}
    </button>
    <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
</div>