div[mat-dialog-content] {
    padding-bottom: 20px;

    .v-box {
        margin-bottom: 20px;

        input:read-only {
            cursor: pointer;
        }
    }

    .h-box {
        display: flex;
        align-items: center;

        .mat-form-field {
            width: 100%;
        }

        .mat-checkbox {
            margin-top: -4px;
            margin-right: 15px;
        }
    }
}