form>* {
  margin-right: 30px;
}

.actions {
  display: flex;
}

ag-grid-angular {
  height: 55vh;
}
.searchbox {
  margin-bottom: 2rem;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.ais-Hits-list { margin-top: 0; margin-bottom: 1em }
.ais-SearchBox { margin-bottom: 1em }
.ais-Pagination { margin-top: 1em }
.left-panel { float: left; width: 220px; padding: 10px}
.right-panel { margin-left: 260px }
.ais-InstantSearch { max-width: 960px; overflow: hidden; margin: 0 auto }
.ais-Hits-item { margin-bottom: 1em; width: calc(100% - 1rem) }
.hit-name { margin-bottom: .5em; width: 20% }
.hit-description {  margin-bottom: .5em; width: 25% }
.hit-updated { margin-bottom: .5em; width: 25% }
.hit-range { color: rgb(29, 29, 29); margin-bottom: .5em; width: 20%}
.range { text-align: center}
.float-right { float: right; width: 40%}
.float-left { float: left; width: 40%}
.ais-HierarchicalMenu-count, .ais-Menu-count, .ais-RefinementList-count, .ais-ToggleRefinement-count {
  color: white!important;
  background: white!important;
}

.results_count {
  color: green;
  margin: 5px;
}

.breadcrumb-bar {
  margin-bottom: 0.625rem;

  .breadcrumb-item {
    text-transform: capitalize;
  }
}
.mat-toolbar-row, .mat-toolbar-single-row {
  height: 30px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}