<mat-toolbar class="breadcrumb-bar">
  <ng-template ngFor let-bcItem [ngForOf]="bcList" let-isLast="last">
    <button mat-button (click)="onSelectBreadcrumb(bcItem)" class="breadcrumb-item">{{bcItem.text}}</button>
    <span *ngIf="!isLast">&gt;</span>
  </ng-template>
</mat-toolbar>
<!-- manufacture algolia UI -->
<ais-instantsearch [config]="manufactures_config" *ngIf="collection.id === 'manufactures'">
  <ais-search-box ></ais-search-box><br>
  <div class="left-panel padding">
    <ais-clear-refinements></ais-clear-refinements>
    <br>
    <ais-panel header="Approved">
      <ais-menu attribute="approved" [transformItems]="transformItemsApprove"></ais-menu>
      <ais-toggle attribute="deleted" hidden></ais-toggle>
    </ais-panel>
  </div>
  <div class="right-panel">
    <form class="actions">
      <button mat-raised-button color="primary" (click)="onAddButtonClick()">
        <mat-icon>add</mat-icon>Add
      </button>
      <button mat-raised-button color="primary" [disabled]="selectedRows.length === 0" (click)="onEditButtonClick()">
        <mat-icon>edit</mat-icon>Edit
      </button>      
      <button mat-raised-button color="primary" [disabled]="selectedRows.length === 0" (click)="onCopyButtonClick()">
        <mat-icon>file_copy</mat-icon>Copy
      </button>
      <button mat-raised-button color="primary" [disabled]="copiedRows.length === 0" (click)="onPasteButtonClick()">
        <mat-icon>done</mat-icon>Paste
      </button>
      <button mat-raised-button color="primary" [disabled]="selectedRows.length !== 1" (click)="onCloneButtonClick()">
        <mat-icon>file_copy</mat-icon>Clone
      </button>
      <span class="fill-space"></span>
      <button mat-raised-button color="accent" [disabled]="selectedRows.length === 0" (click)="onApproveButtonClick()">
        <mat-icon>check</mat-icon>Approve
      </button>
      <button mat-raised-button color="warn" [disabled]="selectedRows.length === 0" (click)="onRejectButtonClick()">
        <mat-icon>close</mat-icon>Reject
      </button>
      <button mat-raised-button color="warn" [disabled]="selectedRows.length === 0" (click)="onDeleteButtonClick()">
        <mat-icon>delete</mat-icon>Delete
      </button>
    </form>
    <br>
    <div style="height: 1em">
        <ais-sort-by
          [items]="[{ value: 'manufactures', label: 'Name Asc' }, { value: 'manufactures_name_by_desc', label: 'Name Desc' }, { value: 'manufactures_date_by_asc', label: 'Date Asc' }, { value: 'manufactures_date_by_desc', label: 'Date Desc' }]"
        ></ais-sort-by>
    </div>
    <br>
    <ais-hits >
      <ng-template let-hits="hits">
        <ais-stats></ais-stats>
        <ag-grid-angular class="ag-theme-material" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)" 
        [rowData]="hits" (rowValueChanged)="onRowValueChanged($event)" [editType]="editType"
        (columnResized)="onColumnResized($event)" (selectionChanged)="onSelectionChanged($event)">
          </ag-grid-angular>
      </ng-template>
    </ais-hits>
    <br>
    <ais-pagination></ais-pagination>    
  </div>
</ais-instantsearch>

<!-- fixture_folders algolia UI -->
<ais-instantsearch [config]="fixture_folders_config" *ngIf="collection.id === 'fixture_folders'">
    <ais-search-box ></ais-search-box><br>
    <div class="left-panel padding">
      <ais-clear-refinements></ais-clear-refinements>
      <br>
      <ais-panel header="Approved">
        <ais-menu attribute="approved" [transformItems]="transformItemsApprove"></ais-menu>
        <ais-toggle attribute="deleted" hidden></ais-toggle>
      </ais-panel>
    </div>
    <div class="right-panel">
      <form class="actions">
        <button mat-raised-button color="primary" (click)="onAddButtonClick()">
          <mat-icon>add</mat-icon>Add
        </button>
        <button mat-raised-button color="primary" [disabled]="selectedRows.length === 0" (click)="onEditButtonClick()">
          <mat-icon>edit</mat-icon>Edit
        </button>
        <button mat-raised-button color="primary" [disabled]="selectedRows.length === 0" (click)="onCopyButtonClick()">
          <mat-icon>file_copy</mat-icon>Copy
        </button>
        <button mat-raised-button color="primary" [disabled]="copiedRows.length === 0" (click)="onPasteButtonClick()">
          <mat-icon>done</mat-icon>Paste
        </button>
        <button mat-raised-button color="primary" [disabled]="selectedRows.length !== 1" (click)="onCloneButtonClick()">
          <mat-icon>file_copy</mat-icon>Clone
        </button>
        <span class="fill-space"></span>
        <button mat-raised-button color="accent" [disabled]="selectedRows.length === 0" (click)="onApproveButtonClick()">
          <mat-icon>check</mat-icon>Approve
        </button>
        <button mat-raised-button color="warn" [disabled]="selectedRows.length === 0" (click)="onRejectButtonClick()">
          <mat-icon>close</mat-icon>Reject
        </button>
        <button mat-raised-button color="warn" [disabled]="selectedRows.length === 0" (click)="onDeleteButtonClick()">
          <mat-icon>delete</mat-icon>Delete
        </button>
      </form>
      <br>
      <div style="height: 1em">
          <ais-sort-by
            [items]="[{ value: 'fixture_folders', label: 'Name Asc' }, { value: 'fixture_folders_by_name_desc', label: 'Name Desc' }, { value: 'fixture_folders_by_date_asc', label: 'Date Asc' }, { value: 'fixture_folders_by_date_desc', label: 'Date Desc' }]"
          ></ais-sort-by>      
      </div>
      <br>
      <ais-hits >
        <ng-template let-hits="hits">
          <ais-stats></ais-stats>
          <ag-grid-angular class="ag-theme-material" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
          [rowData]="hits" (rowValueChanged)="onRowValueChanged($event)" [editType]="editType"
          (columnResized)="onColumnResized($event)" (selectionChanged)="onSelectionChanged($event)">
            </ag-grid-angular>
        </ng-template>
      </ais-hits>
      <br>
      <ais-pagination></ais-pagination>
    </div>
  </ais-instantsearch>

  
<!-- fixtures algolia UI -->
<ais-instantsearch [config]="fixtures_config" *ngIf="collection.id === 'fixtures'">
  <ais-search-box ></ais-search-box><br>
  <div class="left-panel padding">
    <ais-clear-refinements></ais-clear-refinements>
    <br>
    <div class="clearfix">
      <ais-panel header="Approved" class="float-left">
        <ais-menu attribute="approved" [transformItems]="transformItemsApprove"></ais-menu>
        <ais-toggle attribute="deleted" hidden></ais-toggle>
      </ais-panel>
      <ais-panel header="MultiCell" class="float-right">
        <ais-menu attribute="multicell" [transformItems]="transformItemsApprove"></ais-menu>
        <ais-menu attribute="manufacture_id._path.segments" hidden></ais-menu>
        <ais-menu attribute="folder_id._path.segments" hidden></ais-menu>
      </ais-panel>    
    </div>
    <br>
    <ais-panel header="Length">
        <ais-range-input attribute="length" separator="→" currency=""></ais-range-input>
    </ais-panel>
  </div>
  <div class="right-panel">
    <form class="actions">
      <button mat-raised-button color="primary" (click)="onAddButtonClick()">
        <mat-icon>add</mat-icon>Add
      </button>
      <button mat-raised-button color="primary" [disabled]="selectedRows.length === 0" (click)="onEditButtonClick()">
        <mat-icon>edit</mat-icon>Edit
      </button>
      <button mat-raised-button color="primary" [disabled]="selectedRows.length === 0" (click)="onCopyButtonClick()">
        <mat-icon>file_copy</mat-icon>Copy
      </button>
      <button mat-raised-button color="primary" [disabled]="copiedRows.length === 0" (click)="onPasteButtonClick()">
        <mat-icon>done</mat-icon>Paste
      </button>
      <button mat-raised-button color="primary" [disabled]="selectedRows.length !== 1" (click)="onCloneButtonClick()">
        <mat-icon>file_copy</mat-icon>Clone
      </button>
      <span class="fill-space"></span>
      <button mat-raised-button color="accent" [disabled]="selectedRows.length === 0" (click)="onApproveButtonClick()">
        <mat-icon>check</mat-icon>Approve
      </button>
      <button mat-raised-button color="warn" [disabled]="selectedRows.length === 0" (click)="onRejectButtonClick()">
        <mat-icon>close</mat-icon>Reject
      </button>
      <button mat-raised-button color="warn" [disabled]="selectedRows.length === 0" (click)="onDeleteButtonClick()">
        <mat-icon>delete</mat-icon>Delete
      </button>
    </form>
    <br>
    <div style="height: 1em">
        <ais-sort-by
          [items]="[{ value: 'fixtures', label: 'Name Asc' }, { value: 'fixtures_by_name_desc', label: 'Name Desc' }, { value: 'fixtures_by_date_asc', label: 'Date Asc' }, { value: 'fixtures_by_date_desc', label: 'Date Desc' }, { value: 'fixtures_by_mode_asc', label: 'Mode Asc' },  { value: 'fixtures_by_mode_desc', label: 'Mode Desc' },  { value: 'fixtures_by_length_asc', label: 'Length Asc' },  { value: 'fixtures_by_length_desc', label: 'Length Desc' }]"
        ></ais-sort-by>    
    </div>
    <br>
    <ais-hits >
      <ng-template let-hits="hits">        
        <ais-stats></ais-stats>
        <ag-grid-angular class="ag-theme-material" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
        [rowData]="hits" (rowValueChanged)="onRowValueChanged($event)" [editType]="editType"
        (columnResized)="onColumnResized($event)" (selectionChanged)="onSelectionChanged($event)">
          </ag-grid-angular>
      </ng-template>
    </ais-hits>
    <br>
    <ais-pagination></ais-pagination>    
  </div>
</ais-instantsearch>

<!-- fixture channels algolia UI -->
<ais-instantsearch [config]="fixture_channels_config" *ngIf="collection.id === 'fixture_channels'">
    <ais-search-box ></ais-search-box><br>    
    <div class="left-panel padding">
      <ais-clear-refinements></ais-clear-refinements>
      <br>
      <div class="clearfix">
        <ais-panel header="Approved" class="float-left">
          <ais-menu attribute="approved" [transformItems]="transformItemsApprove"></ais-menu>
          <ais-toggle attribute="deleted" hidden></ais-toggle>
        </ais-panel>
        <ais-panel header="Position" class="float-right">
          <ais-menu attribute="position" [transformItems]="transformItemsPosition"></ais-menu>
        </ais-panel>
      </div>
      <br>      
      <div class="clearfix">
          <ais-panel header="Bit" class="float-left">
              <ais-menu attribute="bit"
              ></ais-menu>
          </ais-panel>
          <ais-panel header="Snap" class="float-right">
            <ais-menu attribute="snap" [transformItems]="transformItemsSnap">          
            </ais-menu>            
            <ais-menu attribute="fixture_id._path.segments" hidden>          
            </ais-menu>
          </ais-panel>
      </div>
      <br>
      <ais-panel header="User">
          <div class="range">Min</div>
          <ais-range-input attribute="user_min" separator="→" currency=""></ais-range-input>
          <div class="range">Max</div>
          <ais-range-input attribute="user_max" separator="→" currency=""></ais-range-input>
      </ais-panel><br>
      <ais-panel header="Default Val">
          <ais-range-input attribute="default_val" separator="→" currency=""></ais-range-input>
      </ais-panel>
    </div>
    <div class="right-panel">
        <form class="actions">
          <button mat-raised-button color="primary" (click)="onAddButtonClick()">
            <mat-icon>add</mat-icon>Add
          </button>
          <button mat-raised-button color="primary" [disabled]="selectedRows.length === 0" (click)="onEditButtonClick()">
            <mat-icon>edit</mat-icon>Edit
          </button>
          <button mat-raised-button color="primary" [disabled]="selectedRows.length === 0" (click)="onCopyButtonClick()">
            <mat-icon>file_copy</mat-icon>Copy
          </button>
          <button mat-raised-button color="primary" [disabled]="copiedRows.length === 0" (click)="onPasteButtonClick()">
            <mat-icon>done</mat-icon>Paste
          </button>
          <button mat-raised-button color="primary" [disabled]="selectedRows.length !== 1" (click)="onCloneButtonClick()">
            <mat-icon>file_copy</mat-icon>Clone
          </button>
          <span class="fill-space"></span>
          <button mat-raised-button color="accent" [disabled]="selectedRows.length === 0" (click)="onApproveButtonClick()">
            <mat-icon>check</mat-icon>Approve
          </button>
          <button mat-raised-button color="warn" [disabled]="selectedRows.length === 0" (click)="onRejectButtonClick()">
            <mat-icon>close</mat-icon>Reject
          </button>
          <button mat-raised-button color="warn" [disabled]="selectedRows.length === 0" (click)="onDeleteButtonClick()">
            <mat-icon>delete</mat-icon>Delete
          </button>
        </form><br>
        <div style="height: 1em">
            <ais-sort-by
            [items]="[{ value: 'fixture_channels', label: 'Number Asc' }, { value: 'fixture_channels_by_number_desc', label: 'Number Desc' }, { value: 'fixture_channel_by_notation_asc', label: 'Notation Asc' }, { value: 'fixture_channel_by_notation_desc', label: 'Notation Desc' }]"
          ></ais-sort-by>
        </div>
        <br>
        <ais-hits >
          <ng-template let-hits="hits">    
            <ais-stats></ais-stats>
            <ag-grid-angular class="ag-theme-material" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
            [rowData]="hits" (rowValueChanged)="onRowValueChanged($event)" [editType]="editType"
            (columnResized)="onColumnResized($event)" (selectionChanged)="onSelectionChanged($event)">
              </ag-grid-angular>
          </ng-template>
        </ais-hits>
        <br>
        <ais-pagination></ais-pagination>   

    </div>
  </ais-instantsearch>

<!-- channel_conditions algolia UI -->
<ais-instantsearch [config]="channel_conditions_config" *ngIf="collection.id === 'channel_conditions'">
    <ais-search-box ></ais-search-box><br>
    <div class="left-panel padding">
      <ais-clear-refinements></ais-clear-refinements>
      <br>
      <ais-panel header="Approved">
        <ais-menu attribute="approved" [transformItems]="transformItemsApprove"></ais-menu>
        <ais-menu attribute="channel_id._path.segments" hidden>   
        <ais-toggle attribute="deleted" hidden></ais-toggle>       
        </ais-menu>
      </ais-panel>
      <br>      
      <ais-panel header="Range">
          <div class="range">From</div>
          <ais-range-input attribute="range_from" separator="→" currency=""></ais-range-input>
          <div class="range">To</div>
          <ais-range-input attribute="range_to" separator="→" currency=""></ais-range-input>
      </ais-panel><br>
    </div>
    <div class="right-panel">
      <form class="actions">
        <button mat-raised-button color="primary" (click)="onAddButtonClick()">
          <mat-icon>add</mat-icon>Add
        </button>
        <button mat-raised-button color="primary" [disabled]="selectedRows.length === 0" (click)="onEditButtonClick()">
          <mat-icon>edit</mat-icon>Edit
        </button>
        <button mat-raised-button color="primary" [disabled]="selectedRows.length === 0" (click)="onCopyButtonClick()">
          <mat-icon>file_copy</mat-icon>Copy
        </button>
        <button mat-raised-button color="primary" [disabled]="copiedRows.length === 0" (click)="onPasteButtonClick()">
          <mat-icon>done</mat-icon>Paste
        </button>
        <button mat-raised-button color="primary" [disabled]="selectedRows.length !== 1" (click)="onCloneButtonClick()">
          <mat-icon>file_copy</mat-icon>Clone
        </button>
        <span class="fill-space"></span>
        <button mat-raised-button color="accent" [disabled]="selectedRows.length === 0" (click)="onApproveButtonClick()">
          <mat-icon>check</mat-icon>Approve
        </button>
        <button mat-raised-button color="warn" [disabled]="selectedRows.length === 0" (click)="onRejectButtonClick()">
          <mat-icon>close</mat-icon>Reject
        </button>
        <button mat-raised-button color="warn" [disabled]="selectedRows.length === 0" (click)="onDeleteButtonClick()">
          <mat-icon>delete</mat-icon>Delete
        </button>
      </form>
      <br>
      <div style="height: 1em">
          <ais-sort-by
            [items]="[{ value: 'channel_conditions', label: 'Channel Asc' }, { value: 'channel_conditions_by_channel_desc', label: 'Channel Desc' }, { value: 'channel_conditions_by_date_asc', label: 'Date Asc' }, { value: 'channel_conditions_by_date_desc', label: 'Date Desc' }]"
          ></ais-sort-by>
      
      </div>
      <br>
      <ais-hits >
        <ng-template let-hits="hits">
          <ais-stats></ais-stats>
          <ag-grid-angular class="ag-theme-material" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
          [rowData]="hits" (rowValueChanged)="onRowValueChanged($event)" [editType]="editType"
          (columnResized)="onColumnResized($event)" (selectionChanged)="onSelectionChanged($event)">
            </ag-grid-angular>
        </ng-template>
      </ais-hits>
      <br>
      <ais-pagination></ais-pagination>   
      
    </div>
  </ais-instantsearch>

<!-- channel functions algolia UI -->
<ais-instantsearch [config]="channel_functions_config" *ngIf="collection.id === 'channel_functions'">
    <ais-search-box ></ais-search-box><br>    
    <div class="left-panel padding">
      <ais-clear-refinements></ais-clear-refinements>
      <br>
      <ais-panel header="Approved">
        <ais-menu attribute="approved" [transformItems]="transformItemsApprove"></ais-menu>
        <ais-toggle attribute="deleted" hidden></ais-toggle>
        <ais-menu attribute="channel_id._path.segments" hidden>          
        </ais-menu>
      </ais-panel>
      <br>
      <ais-panel header="Range">
          <div>From</div>
          <ais-range-input attribute="range_from" separator="→" currency=""></ais-range-input>
          <div>To</div>
          <ais-range-input attribute="range_to" separator="→" currency=""></ais-range-input>
      </ais-panel><br>
  
    </div>
    
    <div class="right-panel">
        <form class="actions">
          <button mat-raised-button color="primary" (click)="onAddButtonClick()">
            <mat-icon>add</mat-icon>Add
          </button>
          <button mat-raised-button color="primary" [disabled]="selectedRows.length === 0" (click)="onEditButtonClick()">
            <mat-icon>edit</mat-icon>Edit
          </button>
          <button mat-raised-button color="primary" [disabled]="selectedRows.length === 0" (click)="onCopyButtonClick()">
            <mat-icon>file_copy</mat-icon>Copy
          </button>
          <button mat-raised-button color="primary" [disabled]="copiedRows.length === 0" (click)="onPasteButtonClick()">
            <mat-icon>done</mat-icon>Paste
          </button>
          <button mat-raised-button color="primary" [disabled]="selectedRows.length !== 1" (click)="onCloneButtonClick()">
            <mat-icon>file_copy</mat-icon>Clone
          </button>
          <span class="fill-space"></span>
          <button mat-raised-button color="accent" [disabled]="selectedRows.length === 0" (click)="onApproveButtonClick()">
            <mat-icon>check</mat-icon>Approve
          </button>
          <button mat-raised-button color="warn" [disabled]="selectedRows.length === 0" (click)="onRejectButtonClick()">
            <mat-icon>close</mat-icon>Reject
          </button>
          <button mat-raised-button color="warn" [disabled]="selectedRows.length === 0" (click)="onDeleteButtonClick()">
            <mat-icon>delete</mat-icon>Delete
          </button>
        </form><br>
        <div style="height: 1em">
            <ais-sort-by
            [items]="[{ value: 'channel_functions', label: 'Name Asc' }, { value: 'channel_functions_by_name_desc', label: 'Name Desc' }, { value: 'channel_functions_by_rangefrom_asc', label: 'Range From Asc' }, { value: 'channel_functions_by_rangefrom_desc', label: 'Range From Desc' }]"
          ></ais-sort-by>
        </div>
        <br>
        <ais-hits>
          <ng-template let-hits="hits">    
            <ais-stats></ais-stats>
            <ag-grid-angular class="ag-theme-material" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
            [rowData]="hits" (rowValueChanged)="onRowValueChanged($event)" [editType]="editType"
            (columnResized)="onColumnResized($event)" (selectionChanged)="onSelectionChanged($event)">
              </ag-grid-angular>
          </ng-template>
        </ais-hits>
        <br>
        <ais-pagination></ais-pagination>   
    </div>
  </ais-instantsearch>